body {
	font-size: x-large;
	font-weight: bold;
	text-align: center;
	background-color: #000000;
}

a:active {
	color: #ffffff;
}

.blink {
	color: #00ff00;
	animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
